<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sitamadex11.covidhelp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CovidHelp">
        <activity
            android:name=".activity.CovidTrackerActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.VaccineStatusActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".activity.VolunteerActivity"
            android:theme="@style/NoActionBar"/>
        <activity android:name=".activity.DemoTestingActivity" />
        <activity
            android:name=".activity.HelpActivity"
            android:theme="@style/helpActivity" />
        <activity android:name=".activity.DonationListActivity" />
        <activity
            android:name=".activity.ChooseActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".activity.WebActivity" />
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>