<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sitamadex11.CovidHelp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <queries>
        <package android:name="com.whatsapp" />
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CovidHelp">
        <activity
            android:name="com.sitamadex11.CovidHelp.activity.SplashScreenActivity"
            android:theme="@style/splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sitamadex11.CovidHelp.activity.CovidTrackerActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.sitamadex11.CovidHelp.activity.LoginActivity"
            android:theme="@style/NoActionBar">

        </activity>
        <activity
            android:name="com.sitamadex11.CovidHelp.activity.VaccineStatusActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.sitamadex11.CovidHelp.activity.VolunteerActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name="com.sitamadex11.CovidHelp.activity.DemoTestingActivity" />
        <activity
            android:name="com.sitamadex11.CovidHelp.activity.HelpActivity"
            android:theme="@style/helpActivity" />
        <activity
            android:name="com.sitamadex11.CovidHelp.activity.DonationListActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.sitamadex11.CovidHelp.activity.ChooseActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.sitamadex11.CovidHelp.activity.WebActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.sitamadex11.CovidHelp.activity.MainActivity"
            android:theme="@style/NoActionBar" />
    </application>

</manifest>